.footer-cart {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    background-color:#32338D;
    color:    white;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    padding: 0.3em 1em;
    margin: 0;
    z-index: 1000;
    text-align: center;
}

.init-div {
    margin-top: 3em;
}


.types-list {
    width: 56%;
}

.types-list-2 {
    width: 10em;
}

.types-list-2-minus {
    margin-left: 1.3em;
}

@media (min-width: 500px) {
    .footer-cart {
        left: auto;
    }
    .types-list-2 {
        width: 21em;
    }
    .types-list-2-minus {
        margin-left: 2.1em;
    }
    .init-div {
        margin-top: 0;
    }
}

