
.types-qty-input {
  height: 100%;
  margin: 4% 0;
  padding-bottom: 5%;
  width: 13em;
  max-width: 170px;
}

.list-label {
  width: 13em;
  max-width: 170px;
}

@media (min-width: 500px) {
  .list-label {
      width: 20em;
      max-width: 420px;
  }
  .types-qty-input {
    padding: 0;
    margin: auto;
  }
  .qty-div {
    padding: 3% 0;
  }
}